<h1><%= @place["name"] %></h1>

<% if @user != nil %>
<h2 class="container my-4">My Entries</h2>
 <div class="row">
<% for entry in @entries %>
 <div class="col-md-4 mb-4 p-3">
 <div class="card h-100">
          <div class="card-body">
          <% if entry.uploaded_image.attached? %>
  <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
<% else %>
  <img src="<%= entry["image"] %>" class="img-fluid">
<% end %>
  <h3><%= entry["title"] %></h3>
  <h4><%= entry["occurred_on"] %></h4>
  <p><%= entry["description"] %></p>
   </div>
  </div>
  </div>
<% end %>
 </div>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>
<% else %>
  You must first <a href="/login">login</a> to post.
<% end %>


<p>
  <a href="/places">Back to All Places</a>
</p>
